<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         version="5.0">
    <display-name>Quizzit</display-name>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>dev.jhndrncrz.quizzit.controllers.auth.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>dev.jhndrncrz.quizzit.controllers.auth.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>